header h1{
    text-align: center;
    font-family: Courier;
    font-size: 40px;
}

hr{
    border: 2px solid black;
    width: 90%;
}

/*Base de colores*/
body{
    background-color:beige;
    margin: 0; /*Para no tener margen en la pagina*/
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 100vh;
}

/*Texto de introducción*/
section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section p{
    width: 60%;
    text-align: justify;
    font-family: Verdana;
    font-size: 18px;
}

section img{
    width: 20%;
    max-width: 300px;
    border-radius: 10px;
}

/*Metodos*/
/*Metodos generales*/
.MetGen{
    text-align: center;
    width: 100%;
}

.MetGen h1{
    font-family: Courier;
    font-size: 26px;
}

.MetGen p{
    font-family: Verdana;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}

.MetGen a{
    text-decoration: none; /*Quita el subrayado*/
    color: #8750ac;
    font-family: Monospace;
    font-size: 18px;
}

/*Metodos de transporte*/
.MetEsp{
    text-align: center;
    width: 100%;
}

.MetEsp h1{
    font-family: Courier;
    font-size: 26px;
}

.MetEsp p{
    font-family: Verdana;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}

.MetEsp a{
    text-decoration: none; /*Quita el subrayado*/
    color: #8750ac;
    font-family: Monospace;
    font-size: 20px;
}

/*Planeacion*/
.Planeacion{
    text-align: center;
    width: 100%;
}

.Planeacion h1{
    font-family: Courier;
    font-size: 26px;
}

.Planeacion p{
    font-family: Verdana;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}

.Planeacion a{
    text-decoration: none; /*Quita el subrayado*/
    color: #8750ac;
    font-family: Monospace;
    font-size: 20px;
}

/*Final*/
footer{
    background-color: #b19434;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    margin-top: auto;
    bottom: 0;
}

footer h1{
    font-size: 28px;
    font-family: Optima;
}

footer h2{
    font-size: 20px;
    font-family: Optima;
}